---
# Homepage configuration
# See https://fontawesome.com/v5/search for icons options

title: "Dashboard"
subtitle: "Home Server"
# logo: "logo.png"
# icon: "fas fa-skull-crossbones" # Optional icon

header: false
footer: false

links: 
{{ docker_homer_links | to_yaml }}

services:
{% for item in homer_services[homer_instance] %}
  {{ item | to_yaml }}
{% endfor %}
