      - name: "{{ service_name }}"
        # logo: "assets/tools/sample.png"
        # Alternatively a fa icon can be provided:
        # icon: "fab fa-jenkins"
        # subtitle: "Bookmark example"
        # tag: "app"
        # keywords: "self hosted reddit" # optional keyword used for searching purpose
        url: "https://{{ service_name }}.{{ domain }}"
        #target: "_blank" # optional html tag target attribute
