[Unit]
Description = Fooocus
After=network.target

[Service]
Restart=always
ExecStart={{ service_dir }}/fooocus_env/bin/python entry_with_update.py --listen --share
WorkingDirectory={{ service_dir }}
User={{ username }}
Group={{ username }}

[Install]
WantedBy=multi-user.target
