[Unit]
Description = Fooocus
After=network.target

[Service]
Type=simple
ExecStart=/opt/ai/fooocus/fooocus_env/bin/python entry_with_update.py --listen --share
WorkingDirectory=/opt/ai/fooocus

[Install]
WantedBy=multi-user.target
